html, body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    font-family: 'Inconsolata';
    color: #000000;
}


#visualization {
	width: 75%;
    height: 100%;
    float: left;
    background-image: url(../images/stardust/stardust.png);
}
.about-icon {
    position: absolute;
    bottom:0;
    left:10px;
    width: 35px;
    height: 35px;
}


#sidebar {
    position: absolute;
    margin-left: 75%;
    height: 95%;
}
#sidebar-body {
    padding: 10px;
}
.explanation-text {
    font-size: 24;
    text-align: left;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 100px;
    line-height: 100px;
}
.playback-button {
    float: left;
    width: 15%;
    height: 100%;
    margin: 5px;
}
.playback-helper {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top:7px;
    margin-left:7px;
    width: 75%;
}

/*http://jsfiddle.net/hashem/vsakd/8/*/
.parentbox {
    text-align: center;
}
.parentbox:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.childbox {
    display: inline-block;
    vertical-align: middle;
}
