html, body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    font-family: 'Inconsolata';
    color: #000000;
}

#visualization {
	width: 75%;
    height: 100%;
    float: left;
    background-image: url(../images/stardust/stardust.png);
}

#explanation {
    position: absolute;
    margin-left: 75%;
    height: 100%;
}

.about-icon {
    display:block;
    position: absolute;
    width: 35px;
    height: 35px;
}


#explanation-text {
    position: relative;
    height: 60%;
    margin: 5%;
}

.explanation-text {
    font-size: 24;
    text-align: left;
}


/*http://jsfiddle.net/hashem/vsakd/8/*/
.parentbox {
    text-align: center;
}
.parentbox:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.childbox {
    display: inline-block;
    vertical-align: middle;
}
