html, body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    padding-left:10px;
    padding-right:10px;
    font-family: 'Inconsolata';
    color: #000000;
}

#visualization {
	width: 75%;
    height: 100%;
    float: left;
}

#explanation {
    position: relative;
    margin-left: 75%;
    height: 100%;
}

.explanation-text {
    font-size: 24;
    text-align: left;
}

#processing {
    line-height: 100%;
    width=100%;
    height=100%;
    white-space: nowrap;
}

/*http://jsfiddle.net/hashem/vsakd/8/*/
.parentbox {
    text-align: center;
}
.parentbox:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.childbox {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
